#!/bin/sh
TOKEN=`kubeadm token list | grep boot | awk '{print $1}'`

cat <<EOF >/tmp/cluster.join.sh
#!/bin/sh
kubeadm join --token $TOKEN {{ master_url }} --discovery-token-unsafe-skip-ca-verification

EOF

chmod a+x /tmp/cluster.join.sh
